@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lobster&family=Nunito&display=swap');

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea {
  font: inherit;

}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "Nunito", sans-serif;
  --FF-HEADINGS: "FUGAZ ONE", cursive;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* || COLORS */
  --BGCOLOR-FADE: rgb(252, 220, 160);
  --BGCOLOR: orange;
  --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
  --BODY-BGCOLOR: #FFF;
  --BORDER-COLOR: #333;
  --BUTTON-COLOR: #FFF;
  --FONT-COLOR: #000;
  --HEADER-BGCOLOR: #000;
  --HEADER-COLOR: #FFF;
  --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
  --HERO-COLOR: #FFF;
  --HIGHLIGHT-COLOR: rgb(51, 178, 51);
  --LINK-ACTIVE: orange;
  --LINK-COLOR: #000;
  --LINK-HOVER: hsla(0, 0%, 0%, 0.6);
  --NAV-BGCOLOR: #FFF;


  /* BORDERS */
  --BORDERS: 1px solid var(--BORDER-COLOR);
  --BORDER-RADIUS: 15px;

  /* STANDARD PADDING */
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;

  /* STANDARD-MARGIN */
  --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --BGCOLOR: black;
    --BGCOLOR-FADE: grey;
    --HEADER-COLOR: whitesmoke;
    --NAV-BGCOLOR: rgb(20, 20, 20);
    --HERO-COLOR: #333;
    --BODY-BGCOLOR: #333;
    --FONT-COLOR: whitesmoke;
    --HIGHLIGHT-COLOR: whitesmoke;
    --BORDER-COLOR: whitesmoke;
    --LINK-COLOR: whitesmoke;
    --LINK-HOVER: orange;
    --LINK-ACTIVE: rgb(252, 200, 103);
    --BUTTON-COLOR: #000;
  }
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: 10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* || GENERAL STYLES */

html {
  scroll-padding: 140px;
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
  background-image: var(--BGIMAGE);
}

body {
  background-color: var(--BODY-BGCOLOR);
  color: var(--FONT-COLOR);
  min-height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
  border-left: var(--BORDERS);
  border-right: var(--BORDERS);
  box-shadow: 0 0 10px var(--BORDER-COLOR);
}

h1, h2, h3 {
  font-family: var(--FF-HEADINGS);
  letter-spacing: 0.1em;
}

h2, h3 {
  margin-bottom: 1em;
  color: var(--HIGHLIGHT-COLOR);
}

p {
  line-height: 1.5;
}

a:any-link {
  color: var(--LINK-COLOR);
  text-decoration: none;
}

a:hover, a:focus-visible {
  color: var(--LINK-HOVER);
}

a:active {
  color: var(--LINK-ACTIVE);
}
